* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Lexend, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding: 80px;
}

h1 {
    color: black;
    font-size: 2.4em;
}

h2 {
    color: black;
    font-size: 1.8em;
    padding: 20px;
}

h3 {
    color: black;
    font-size: 1.2em;
    padding: 10px;
}

p {
    color: black;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 2em;
    padding-bottom: 30px;
}

hr {
    background-color: #aaaaaa;
    margin-bottom: 20px;
    height: 2px;
    border-width: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

img {
    max-width: 50vw;
    width: 500px;
    padding-bottom: 30px;
}

.headline {
    padding-bottom: 30px;
}

.headline h1 {
    padding-bottom: 20px;
}

.headline p {
    text-indent: 0;
    font-weight: bold;
    padding-bottom: 10px;
}

@media (max-width: 768px) {

    main {
        font-size: 12px;
        padding: 30px;
    }

    h1 {
        color: black;
        font-size: 2em;
    }

    h2 {
        color: black;
        font-size: 1.5em;
    }

    .headline {
        padding-bottom: 20px;
    }

    .headline p{
        padding-bottom: 10px;
    }

    aside {
        display: none;
    }

    article {
        padding: 10px;
    }

    .latest_article {
        margin: 10px 0px;
        padding: 15px;
        padding-bottom: 20px;
    }

    .latest_article p {
        padding: 10px 0px 30px 0px;
    }

    .latest_article a {
        font-size: 12px;
    }
}