* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    font-size: 20px;
    padding: 30px;
    flex-direction: column;
    font-family: Lexend, sans-serif;
}

h1 {
    color: black;
    font-size: 2.4em;
}

main a {
    color: black;
    font-size: 1.2em;
}

.article_list {
    padding: 20px 0px;
    list-style: none;
}

.article_list li {
    border-bottom: 1px solid #ccc; /* Light gray horizontal line */
    padding: 20px 0; /* Adjust padding for spacing */
    margin-bottom: 20px;
}

.article_list li a{
    color:black;
}

@media (max-width: 768px) {

    main {
        font-size: 12px;
        flex-direction: column;
    }

    section {
        padding: 10px 10px;
        width: 100vw;
    }

    article {
        padding: 10px;
    }
}

hr {
    background-color: #aaaaaa;
    height: 2px;
    border-width: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}