* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Lexend, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 40px;
}

h1 {
    font-size: 64px;
    padding: 0px 20px 40px 20px;
    color: black;
}

h2 {
    font-size: 32px;
    color: black;
}

.contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

.contact_icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_icon img {
    width: auto;
    height: 200px;
}

@media (max-width: 768px) {

    main {
        font-size: 12px;
        flex-direction: column;
        padding: 20px;
    }

    h1 {
        font-size: 32px;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
    }

    .contact_icon img {
        width: auto;
        height: 75px;
    }

    .contact_icon h2 {
        font-size: 16px;
    }
}

hr {
    background-color: #aaaaaa;
    height: 2px;
    border-width: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
