* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Lexend, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    font-size: 20px;
}

section {
    flex: 1; /* Takes up all available horizontal space */
    padding: 40px 30px;
}

article {
    padding: 20px;
}

article h1{
    font-size: 2.4em;
    padding: 10px 0px;
}

article h2{
    font-size: 1.8em;
    padding: 10px 0px;
}

article h3 {
    font-size: 1.4em;
    font-weight: 1;

}

article p {
    text-indent: 2em;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 20px;
}

aside {
    display: flex;
    flex: 1; /* Takes up all available horizontal space */
    background-color: #1370cc;
    align-items: center; /* Center vertically within the container */
    justify-content: center; /* Center horizontally within the container */
    flex-direction: column;
}

.large_logo_side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large_logo_side img {
    max-width: 100%;
    width: 65%; /* Ensure the logo doesn't exceed the container width */
    height: auto; /* Maintain aspect ratio */
}

.large_logo_side h2 {
    font-size: 2vw;
    font-weight: 1;
    color: white;
}

.large_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.large_logo img {
    max-width: 100%;
    width: 65%; /* Ensure the logo doesn't exceed the container width */
    height: auto; /* Maintain aspect ratio */
}

.large_logo h2 {
    font-size: 2vw;
    font-weight: 1;
    color: white;
}

.small_panels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.small_panels figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.small_panels figure img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border: 4px solid #aaa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.small_panels figure h2 {
    padding-bottom: 20px;
}

.small_panels figure a {
    display: block;
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: white;
    padding: 5px;
    background-color: #1e90ff;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.latest_article {
    margin: 20px 0px;
    padding: 30px;
    background-color: #fcfcfc;
    border: #000;
    border-style: solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.latest_article p {
    padding: 20px 0px 50px 0px;
    text-indent: 2em;
    text-align: justify;
    text-justify: inter-word;
}

.latest_article a {
    color: white;
    margin: 20px 0px;
    padding: 10px;
    background-color: #1e90ff;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width: 768px) {

    main {
        font-size: 12px;
        flex-direction: column;
    }

    section {
        padding: 10px 10px;
        width: 100vw;
    }

    aside {
        width: 100vw;
    }

    .large_logo_side {
        display: none;
    }

    .small_panels {
        gap: 10px;
    }

    .small_panels figure {
        padding: 15px;
    }

    .small_panels figure h2 {
        font-size: 1.2em;
        padding-bottom: 15px;
    }

    .small_panels figure img {
        width: 95%;
        height: auto;
        aspect-ratio: 1 / 1;
        margin-bottom: 15px;
    }

    .small_panels figure a {
        font-size: 10px;
        padding: 5px;
    }

    article {
        padding: 10px;
    }

    .latest_article {
        margin: 10px 0px;
        padding: 15px;
        padding-bottom: 20px;
    }

    .latest_article p {
        padding: 10px 0px 30px 0px;
    }

    .latest_article a {
        font-size: 12px;
    }
}

hr {
    background-color: #aaaaaa;
    height: 2px;
    border-width: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
